<!-- templates/home.html-->
{% extends 'nav/nav.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<h1 class="row justify-content-center">Welcome to the HoneyBadgers</h1>
<div class="row justify-content-center">
    <form method="get" action="{% url 'profile_page' user.id %}">
        <button type="submit" class="btn signUpBtn"><strong>Go to profile page</strong></button>
    </form>
</div>
{% else %}

<head>
    <meta charset="UTF-8">
    <title>Front page</title>
    <link rel="shortcut icon" href="">
</head>
<body>


<h2 class="row justify-content-center" id="loginTitle">You are not logged in</h2>
<div class="row justify-content-center" id="loginContent">
    <form method="get" action="{% url 'login' %}">
            <button type="submit" class="btn loginBtn">Go to login page</button>
    </form>
</div>


<div class="row justify-content-center" id="underLoginContent">
    <form method="get" action="{% url 'signup' %}">
            <button type="submit" class="btn signUp">Create new account</button>
    </form>
</div>
{% endif %}
{% endblock %}
