<!-- templates/registration/login.html -->
{% extends 'nav/nav.html' %}

{% block title %}Login{% endblock %}

{% block content %}


{% load static %}



<html lang="en">
    <link rel="stylesheet" type="text/css" href="{% static 'badges/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="shortcut icon" href="">
</head>

<body>

<h2 class="row justify-content-center" id="loginTitle">Login</h2>
<div class="row justify-content-center" id="loginContent">
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn loginBtn">Login</button>
    </form>
</div>



{% endblock %}
</body>
</html>