{% extends 'nav/nav.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

    <h1 id="center">Forgot your password?</h1>
    <h5 id="center1">Enter your email address below, and we'll email instructions for setting a new one.</h5>

    <h2 class="row justify-content-center" id="loginTitle">Password reset</h2>
    <div class="row justify-content-center" id="loginContent">
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn resetPswBtn">Send me instructions</button>
        </form>
    </div>
{% endblock %}