{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'badges/style.css' %}">


<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md sticky-top navbar-light"> <!--sticky top follows the top of browser-->

    <section>
        <a class="navbar-brand" href="/"><img src="{% static 'badges/badger.png' %}" style="max-width: 50px;"> </a>
        <span class="navbar-brand"><h6>The HoneyBadgers</h6></span>
    </section>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarToggler">
        <div class="container-fluid" style="margin:5px;">
            <form class="form-inline">
                <ul class="navbar-nav mr-auto mt-2 mt-md-0" style="width: 100%">
                    <a class="nav-item active">
                        <a class="nav-link">
                            <button class="btn btn-outline-success my-sm-2"
                                    style="margin:10px;" type="submit" href="/events">Events
                            </button>
                        </a>
                        </li>
                        <li class="nav-item active" style="margin-left: auto;">
                            <a class="nav-link" style="margin-top:5px;" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-link active">
                            <a class="nav-link" href="#" style="float: left"><span class="badge badge-pill badge-info">{{user.username}}</a></span>
                        </li>
                </ul>
            </form>
        </div>
    </div>
    {% else %}

    {% endif %}

</nav>


{% block content %}

{% endblock %}


</body>
</html>
