{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'badges/style.css' %}">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2"></script>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="">
    <meta name="description" content="School Project for class ID202712 NTNU Aalesund Bachelor of Computer Engineering.
                Badge collection similar to achievements in games.">
    <meta name="author" content="Espen Vad, Pernille Skytterholm, Jahn-Willy Nøstdahl and Markus Randa.">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top m-0">
    <a class="navbar-brand" href="/"><img class="mr-4" src="{% static 'badges/badger.png' %}" style="max-width: 50px;">The HoneyBadgers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/events">Events <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-primary my-2 my-sm-0 ml-4" onclick="location.href='{% url 'profile_page' user.username %}'">{{user.username}}</button>
            </li>
        </ul>
    </div>
    {% else %}

    {% endif %}
</nav>

<div style="height:100%;">

    {% block content %}

    {% endblock %}

</div>


</body>
</html>
