 <div class="container">

        <div class="row mt-4">
            <div class="col">
                <h1 class="text-center text-info">{{ event_name }}</h1>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <p class="text-center">{{ event_desc }}</p>
            </div>
        </div>

        <div class="row mt-4">
            {% if badge_requests %}

                <table class="table col-sm" style="border-color: black; border-style: solid; margin: 25px;">
                    {% for badge_request in badge_requests %}
                        <tr>
                            <td>{{ badge_request.badge.name|capfirst }}</td>
                            <td>{{ badge_request.user.username|capfirst }}</td>
                            <td>
                                <form method="">
                                    {% csrf_token %}
                                    <input type="hidden" name="badge" value={{ badge }}/>
                                    <input type="submit" value="Approve">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            {% else %}

                <p>No badge requests are available.</p>

            {% endif %}

            {% if requestable_badge %}

                <table class="table col-sm" style="border-color: black; border-style: solid; margin: 25px;">
                    {% for badge in requestable_badge %}
                        <tr>
                            <td>{{ badge.name }}</td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ forms.request_badge }}
                                    <input type="hidden" name="badge_id" value="{{ badge.id }}">
                                    <input type="submit" value="Request">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            {% else %}

                <p>No events are available.</p>

            {% endif %}
        </div>

    </div>