{% extends "nav/nav.html" %}

{% block content %}


    <div class="row mt-4">

        <div class="col">
            <h1 class="text-center text-info">{{ event_name }}</h1>
        </div>

    </div>


    <div class="row mt-4">
        <div class="col">
            <p class="text-center">{{ event_desc }}</p>
        </div>
    </div>


    {% if user_is_moderator %}

        <div class="row mt-4">

            <div class="col-md-2">
                <button class="btn btn-primary btn-md btn-block" onclick="switchEventProfileContent()">User/Mod Display
                </button>

                <form method="post">
                    {% csrf_token %}
                    {{ forms.end_event }}
                    <input type="hidden" name="event_id" value={{ event_id }}>
                    <input type="submit" class="btn btn-danger btn-sm btn-block" value="End Event">
                </form>
            </div>

        </div>

    {% endif %}


    <div id="eventProfileUserContent" style="display: none">

        {% include "events/event_profile_user.html" %}

    </div>

    <div id="eventProfileModContent">

        <div class="d-flex justify-content-center">
            <h1 id="mod"><u>Moderator view!</u>
                <p>Event pin: {{ event_pin }}</p></h1>
        </div>

        <div class="d-flex justify-content-center">
            <div class="col-md-3" id="test">
                <div class="bg-white text-dark p-4">
                    <h2 class="text-center">Statistics</h2>
                    <div>
                        <table class="table table-bordered">
                            <thread>
                                <tr>
                                    <th scope="col"> People that have joined: {{ people_joined }}</th>
                                </tr>
                                <tr>
                                    <th scope="col"> Achieved badges: XX</th>
                                </tr>
                                <tr>
                                    <th scope="col"> Something else: {{ event_active }}</th>
                                    <!-- Other statistics to be filled in!!!! -->
                                </tr>
                            </thread>
                        </table>
                    </div>
                    <h2 class="text-center">Badge Request</h2>
                    <div>
                        <div class="row mt-4">
                            {% if badge_requests %}
                                <table class="table col-sm"
                                       style="border-color: black; border-style: solid; margin: 25px;">
                                    {% for badge_request in badge_requests %}
                                        <tr>
                                            <td>{{ badge_request.badge.name|capfirst }}</td>
                                            <td>{{ badge_request.user.username|capfirst }}</td>
                                            <td>
                                                <form method="">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="badge" value={{ badge }}/>
                                                    <input type="submit" value="Approve">
                                                    <input type="submit" value="Reject">
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% else %}
                                <p>There are none requests for badges!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <h2 class="text-center">Remove badges from user(s)</h2>
                <div>
                    <div class="row mt-4">
                        {% if user_event_badges %}
                            <table class="table col-sm" style="border-color: black; border-style: solid; margin: 25px;">
                                {% for user_event_badge in user_event_badges %}
                                    <tr>
                                        <td>{{ user_event_badge.badge.name }}</td>
                                        <td>{{ user_event_badge.user.username }}</td>
                                        <td>
                                            <form method="">
                                                {% csrf_token %}
                                                <input type="hidden" name="badge" value={{ badge }}/>
                                                <input type="submit" value="Remove">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <p>There are none removeable badges!</p>
                        {% endif %}
                    </div>
                </div>
{% endblock %}