{% extends "nav/nav.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid fill bg-info">
        <div class="centerThis">
            {% if event_active is False %}
                <div class="row mx-auto mb-6">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 mt-4 mb-5">
                        <h1 class="text-danger text-center font-weight-bold text-uppercase eventName"
                            style="font-size: 60px">Event has ended!</h1>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            {% endif %}
            <div class="row mx-auto mb-6">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 mt-4 mb-5">
                    <h1 class="text-white text-center font-weight-bold text-uppercase eventName">{{ event_name }}</h1>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row mx-auto mt-4 mb-5">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 mb-4">
                    <h2 class="text-white text-center font-weight-bold pb-2">Event pin: </h2>
                    <h2 class="text-white text-center font-weight-light bg-white text-dark pt-3 pb-3">{{ event_pin }}</h2>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row mx-auto mt-5 mb-0">
                <div class="col-md-4">
                    <h2 class="text-white text-center font-weight-bold">Badges available: </h2>
                    <h2 class="text-white text-center font-weight-light">{{ requestable_badge.count }}</h2>
                </div>
                <div class="col-md-4 eventDescription">
                    <h2 class="text-white text-center font-weight-bold">Event description: </h2>
                    <h4 class="text-white text-center font-weight-light">{{ event_desc }}</h4>
                </div>
                <div class="col-md-4 mb-5 pb-5">
                    <h2 class="text-white text-center font-weight-bold">Joined event: </h2>
                    <h2 class="text-white text-center font-weight-light">{{ people_joined }}</h2>
                </div>
            </div>
            <div id="activityFeedContainer" class="row mx-auto mt-5 mb-0"
                 style="background: #204c77; overflow: scroll; overflow-x: hidden; max-height: 350px; width: 80%">
                <script>let event_id = {{ event_id }};</script>
                <script type="text/javascript" src="{% static 'badges/activityFeed.js' %}"></script>
            </div>
        </div>
    </div>

    <div class="container-fluid fill bg-success clearfix">
        <div class="row mx-auto mt-0 mb-6">
            <div class="col-md-4 mt-4">
                {% if user_is_moderator %}
                    <button class="btn btn-outline-light btn-md btn-block" onclick="switchEventProfileContent()">
                        User/Mod
                        Display
                    </button>
                    <form method="post">
                        {% csrf_token %}
                        {{ forms.end_event }}
                        <input type="hidden" name="event_id" value={{ event_id }}>
                        <input type="submit" class="btn btn-danger btn-md btn-block mt-2" value="End Event">
                    </form>
                {% endif %}
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>

        <div id="eventProfileModContent" style="display: none">

            {% include "events/event_profile_mod.html" %}

        </div>

        <div class="row mt-0 pt-4 justify-content-center">
            <div class="col-lg-5 m-5 p-5">
                <div id="eventProfileUserContent">
                    {% if badge_requests %}
                        <div class="table-responsive">
                            <h2 class="text-white text-center font-weight-light">Approve a badge:</h2>
                            <table class="table table-striped table-sm mt-4 text-white">
                                {% for badge_request in badge_requests %}
                                    <tr>
                                        <th>{{ badge_request.badge.name|capfirst }}</th>
                                        <th>{{ badge_request.user.username|capfirst }}</th>
                                        <th>
                                            <form method="post">
                                                {% csrf_token %}
                                                {{ forms.delete_badge_request }}
                                                {{ forms.approve_badge_mod }}
                                                <input type="hidden" name="badge_id"
                                                       value="{{ badge_request.badge.id }}">
                                                <input type="hidden" name="user_id" value="{{ badge_request.user.id }}">
                                                <input class="btn btn-light btn-sm btn-block ml-0 mr-2" type="submit"
                                                       value="Approve">
                                            </form>
                                        </th>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                    {% else %}
                        <h2 class="text-white text-center font-weight-light">Approve a badge:</h2>
                        <p class="text-center mt-2 pb-0 mb-4 ">No badge requests are available.</p>

                    {% endif %}

                    {% if requestable_badge %}

                        <div class="table-responsive">
                            <h2 class="text-white text-center font-weight-light mb-4">Request a badge: </h2>
                            <table class="table table-striped table-sm text-white  ">
                                {% for badge in requestable_badge %}
                                    <tr>
                                        <th><img src="{{ badge.image }}" width="75" alt="badge_img"></th>
                                        <th>{{ badge.name }}</th>
                                        <th>
                                            <form method="post">
                                                {% csrf_token %}
                                                {{ forms.request_badge }}
                                                <input type="hidden" name="badge_id" value="{{ badge.id }}">
                                                <input class="btn btn-light btn-sm btn-block ml-0 mr-2" type="submit"
                                                       value="Request">
                                            </form>
                                        </th>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% else %}

                        <p class="text-center mt-4 p-5 pb-0">No badges to request at the moment...</p>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}