{% extends "nav/nav.html"%}

{% block content %}


<div class="container" style="text-align: center; margin-top: 100px">
    <a href="{% url 'create_event' %}">CREATE NEW EVENT</a>


    <div class="row">
        <h2 class="col-sm" style="">Event History</h2>
        <h2 class="col-sm">Events Created</h2>
    </div>

    <div class="row">

    {% if event_historic_list  %}

        <table class="table col-sm" style="border-color: black; border-style: solid; margin: 25px;">
            <thead class="thead-dark">
                <tr>
                  <th scope="col">Event Name</th>
                </tr>
            </thead>

        {% for event in event_historic_list  %}
            <tr>
                <td>{{ event.name }}</td>
            </tr>
        {% endfor %}
        </table>

    {% else %}

        <p>No events are available.</p>

    {% endif %}


    {% if event_active_list %}

        <table class="table col-sm" style="border-color: black; border-style: solid; margin: 25px;">
            <thead class="thead-dark">
                <tr>
                  <th scope="col">Event Name</th>
                </tr>
            </thead>

        {% for event in event_active_list  %}
            <tr>
                <td>{{ event.name }}</td>
            </tr>
        {% endfor %}

        </table>

    {% else %}

        <p>No events are available.</p>

    {% endif %}

    </div>
</div>


{% endblock %}