<div class="row justify-content-md-center">

    {% for object in field.field.choices.field.queryset %}

        <div class="col">
            <label>
                <input type="checkbox" value="{{ object.id }}" name="badge">
                <img src="{{ object.image.url }}" alt="Very beautiful picture" width="65">
                <div style="display: contents;">{{ object.name }}</div>
            </label>
        </div>

        {% if forloop.counter|divisibleby:3 %}

            <!-- Force next columns to break to new line -->
            <div class="w-100"></div>

        {% endif %}

    {% endfor %}

</div>
