{% extends "nav/nav.html" %}

{% block content %}
    {% load static %}


    <div style="background-color: {{ user.color_value }}" class="container-fluid p-0">
    <div class="container pt-4" style="height: auto; overflow: auto;">

        <div class="row p-0">
            <div class="col">
                <div class="row m-0">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <img width="85px" src="/images/avatars/avatar.png" id="avatar" alt="Avatar picture"
                     style="border-radius: 5px; border-color: #0069d982; border-width: 3px; border-style: solid;">
                <h2 class="text-right text-info mt-4 ml-4" style="display: inline;">{{ profile_owner }}</h2>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-primary btn-md btn-block" href="{% url 'edit_profile' user.username %}"
                   role="button">Edit
                    profile</a>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-lg-9">

                <div>
                    <div class="bg-white text-dark pt-4 pr-4 pl-4 profileBoxes">
                        <h2 class="text-left">Showcase</h2>
                        <div>
                            {% if showcase_list %}
                                <div class="table-responsive">
                                    <table class="table table-borderless showcaseTable">
                                        <tr>
                                            {% for userbadge in showcase_list %}
                                                <td style="border-top-width: 0;"><img
                                                        src="{{ userbadge.event_badge.badge.image.url }}"
                                                        width="150"
                                                        alt="Picture is missing, did the developer assign the wrong path?">
                                                    <p class="pt-2">{{ userbadge.event_badge.badge.description }}</p>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </div>
                            {% else %}
                                <p class="pb-4">No badges are available.</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <div class="bg-white text-dark p-4 profileBoxes">
                                <h2>About me</h2>
                                <p>
                                    {{ about_me }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <div class="bg-white text-dark p-4 profileBoxes mb-4">
                                <h2>Recently earned badges</h2>
                                <div class="table-responsive">
                                    {% if badges_list %}

                                        <table class="table table-borderless">
                                            {% for user_badge in badges_list %}
                                                <tr>
                                                    <td style="border-top-width: 0; vertical-align: baseline;">
                                                        <img src="{{ user_badge.event_badge.badge.image.url }}"
                                                             width="100"
                                                             alt="Picture is missing, did the developer assign the wrong path?">
                                                    </td>
                                                    <td style="border-top-width: 0; vertical-align: baseline;">{{ user_badge.event_badge.badge.name }}</td>
                                                </tr>
                                            {% endfor %}
                                            <div class="pagination">
                                        <span class="step-links">
                                            {% if badges_list.has_previous %}
                                                <a href="?page=1">&laquo; first</a>
                                                <a href="?page={{ badges_list.previous_page_number }}">previous</a>
                                            {% endif %}

                                            <span class="current">
                                                Page {{ badges_list.number }} of {{ badges_list.paginator.num_pages }}.
                                            </span>

                                            {% if badges_list.has_next %}
                                                <a href="?page={{ badges_list.next_page_number }}">next</a>
                                                <a href="?page={{ badges_list.paginator.num_pages }}">last &raquo;</a>
                                            {% endif %}
                                        </span>
                                            </div>
                                        </table>

                                    {% else %}
                                        <p>No badges are available.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="bg-white text-dark p-4 profileBoxes">
                    <h2 class="text-left">Statistics</h2>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col"> Badges Earned: {{ badge_count }}</th>
                            </tr>
                            <tr>
                                <th scope="col"> Events Participated: {{ event_count }}</th>
                            </tr>
                            <tr>
                                <th scope="col"> Date Joined: {{ date_joined }}</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="bg-white text-dark pt-2">
                        <h2>Active events</h2>
                        <div class="table-responsive">
                            {% if event_active_list %}
                                <table class="table table-bordered">
                                    <thead>
                                    {% for event in event_active_list %}
                                        <tr>
                                            <th>
                                                <a href="{% url 'events:event_profile' event.id %}">{{ event.name }}</a>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                    </thead>
                                </table>

                            {% else %}

                                <p>No events are available.</p>

                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <!--  share button -->
                        <div class="d-flex justify-content-right mb-2">
                            <div class="fb-share-button"
                                 data-layout="button" data-size="small">
                                <a target="_blank"
                                   href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F192.168.50.50%3A8080%2Fusers%2F<username>%2Fprofile_page%2F&amp;src=sdkpreparse"
                                   class="fb-xfbml-parse-ignore">Share</a>
                            </div>
                        </div>
                        <!-- share button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}