{% extends "nav/nav.html"%}


{% block content %}


<div class="container">
    <div class="row">
        <div class="col-9">
            <h2>{{user.username}}</h2>
        </div>
        <div class="col">
            <a href="" id="editBtn" class="row"><h2>Edit Profile</h2></a>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div id="showCase" class="row"><h2>SHOWCASE</h2></div>
            <div id="aboutMe" class="row"><h5>About me..</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
        </div>
        <div class="col">
            <div id="stats"><h2>STATISTICS</h2></div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div id="recentBadges" class="row"><h2>Recently earned badges</h2>

                {% if badges_list %}

                <table class="table col-sm" style="border-color: black; border-style: solid; margin: 25px;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Badge Name</th>
                    </tr>
                    </thead>

                    {% for badge in badges_list %}
                    <tr>
                        <td>{{ badge.name }}</td>
                    </tr>
                    {% endfor %}

                </table>

                {% else %}

                <p>No badges are available.</p>

                {% endif %}
            </div>
        </div>
        <div class="col">
            <div id="activeEvents" class="row"><h2>Active events</h2>
                {% if event_active_list %}

                <table class="table col-sm" style="border-color: black; border-style: solid; margin: 25px;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Event Name</th>
                    </tr>
                    </thead>

                    {% for event in event_active_list %}
                    <tr>
                        <td>{{ event.name }}</td>
                    </tr>
                    {% endfor %}

                </table>

                {% else %}

                <p>No events are available.</p>

                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}