<div class="row justify-content-md-center">

    {% for user_badge in user_badge_list %}

        <div class="col">
        <h4>Select badges for your showcase</h4>
            <label>
                {% if user_badge.is_showcase == True %}
                    <input type="checkbox" value="{{ user_badge.id }}" name="badge_id" checked>
                {% else %}
                    <input type="checkbox" value="{{ user_badge.id }}" name="badge_id">
                {% endif %}
                <img src="{{ user_badge.event_badge.badge.image.url }}" alt="Very beautiful picture" width="100">
                <div style="display: contents;">{{ user_badge.event_badge.badge.name }}</div>
            </label>
        </div>

        {% if forloop.counter|divisibleby:3 %}

            <!-- Force next columns to break to new line -->
            <div class="w-100"></div>

        {% endif %}

    {% endfor %}

</div>
