<div class="row justify-content-md-center">

    {% for userbadge in userbadges %}

        <div class="col">
            <label>
                {% if userbadge.is_showcase == True %}
                    <input type="checkbox" value="{{ userbadge.id }}" name="badge_id" checked>
                {% else %}
                    <input type="checkbox" value="{{ userbadge.id }}" name="badge_id">
                {% endif %}
                <img src="{{ userbadge.badge.image.url }}" alt="Very beautiful picture" width="100">
                <div style="display: contents;">{{ userbadge.badge.name }}</div>
            </label>
        </div>

        {% if forloop.counter|divisibleby:3 %}

            <!-- Force next columns to break to new line -->
            <div class="w-100"></div>

        {% endif %}

    {% endfor %}

</div>
