li {
    color: saddlebrown;
}

.bg-light {
    background-color: #204c77!important;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    font-size: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

