li {
    color: saddlebrown;
}

.bg-light {
    background-color: #204c77!important;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    font-size: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.loginBtn {
    background-color: #23bdd1;
    font-size: 20px;
    width: 100%;
}

.loginBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#loginContent {
  margin-top: 2%;
}
#loginTitle {
  margin-top: 10%;
}

body {
    background-color: #f7f7f7;
}